[submodule "extlibs/doctest"]
	path = crude_extlibs/doctest
	url = https://github.com/doctest/doctest.git
[submodule "extlibs/SDL"]
	path = crude_extlibs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extlibs/tinygltf"]
	path = crude_extlibs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "crude_extlibs/meshoptimizer"]
	path = crude_extlibs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "crude_extlibs/DirectXMath"]
	path = crude_extlibs/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "crude_extlibs/flecs"]
	path = crude_extlibs/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "crude_extlibs/imgui_cmake/imgui"]
	path = crude_extlibs/imgui_cmake/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "crude_extlibs/stb_cmake/stb"]
	path = crude_extlibs/stb_cmake/stb
	url = https://github.com/nothings/stb.git
